header {
    display: flex;
    flex-direction: column;
    grid-column: auto;
}

header h1 {
    color: var(--hlavni_barva);
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    margin: 20px 0
}

.h__nazev {
    min-width: 250px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
    max-width: 600px;
}

nav li {
    list-style-type: none;
    padding: 10px;
    color: var(--hlavni_barva);
}

nav li:hover,
nav li:focus {
    background-color: var(--hlavni_barva);
    color: white;
}


/*   media   */

@media (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
}