header {
    display: flex;
    color: #F03000;
    flex-direction: column;
    align-items: center;
}

header h1 {
    text-transform: uppercase;
}

nav {
    width: 300px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0px;
}

nav li {
    list-style-type: none;
    padding: 15px;
    font-size: 12px;
}

nav li:hover,
nav li:focus {
    background-color: #F03000;
    color: white;
}