@import 'hlavicka.css';
@import 'zajezdy.css';
@import 'sluzby.css';
@import 'novinky.css';
*,
 :after,
 :before {
    box-sizing: border-box;
}

:root {
    --hlavni_barva: #F03000;
    --blok_barva: #eeeeee;
    --date-barva: #999999;
}

body>* {
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
}

.m__zajezd {
    grid-row: 1;
}

.m__sluzby {
    grid-row: 2;
}

.m__lastmin-title {
    grid-row: 3;
    margin-top: 1.5em;
}

.m__lastmin {
    grid-row: 4;
}

.m__novinky-title {
    grid-row: 5;
    margin-top: 1.5em;
}

.m__novinky {
    grid-row: 6;
}

.paticka {
    grid-row: 7;
    background-color: black;
    height: 40px;
    margin-top: 1.5em;
}

.paticka p {
    font-size: 10px;
    text-align: center;
    color: white;
    padding-top: 15px;
}